@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gravitas+One&family=Lora&family=Metrophobic&family=Roboto&display=swap');

:root {
    --background: #EFEFEF;
    --onbackground-primary: #3f4f53;
    --onbackground-secondary: #242d30;
    --text-primary: #000;
    --text-secondary: #202020;
}

[data-theme="dark"] {
  --background: #222222;
  --onbackground-primary: #dbdbdb;
  --onbackground-secondary: #C4C4C4;
  --text-primary: #fff;
  --text-secondary: #f1f1f1;
}

body {
    margin: 0;
    font-family: 'Metrophobic', sans-serif;
    background-color: var(--background);
    box-sizing: border-box;
    overflow: hidden;
}

/* Menu */

.menu-on {
  filter: blur(28px);
}

nav {
    z-index: 10;
    font-size: 2em;
    position: absolute;
    width: 100vw;
    font-family: Lora, sans-serif;
    top: 20px;
}

.theme-switch-wrapper {  
    display: flex;
    z-index: 100;
    position: fixed;
    right: 25px;
    top: 26px;
}

/* Navigation Overlay */

.nav-overlay {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.nav-overlay-slide-right {
  transition: all 0.4 ease-in-out;
  transform: translateX(0);
}

.nav-overlay-slide-left {
  transition: all 0.8 ease-in-out;
  transform: translateX(-100vw);
}

.nav-links,
.nav-links ul {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  text-decoration: none;
}


.nav-links ul li {
  height: 10vh;
  overflow: hidden;
  cursor: pointer;
}

.nav-links li a:hover {
  transform: scale(1.2); 
}

.nav-links li a {
  position: relative;
  top: 45%;
  color: var(--text-primary);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center; 
}

/* Slide-In animation for each nav item */

.slide-in-1 {
  animation: slide-in 0.2s linear 0.2s both;
}
.slide-in-2 {
  animation: slide-in 0.4s linear 0.2s both;
}
.slide-in-3 {
  animation: slide-in 0.6s linear 0.2s both;
}
.slide-in-4 {
  animation: slide-in 0.8s linear 0.2s both;
}
.slide-in-5 {
  animation: slide-in 1s linear 0.2s both;
}

@keyframes slide-in {
  from{
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Slide-out animation for each nav item */

.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}
.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}
.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}
.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}
.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);

  }

  to {
    transform: translateX(100%);

  }
}

/* Theme Switch Light / Dark */

.theme-switch-wrapper span {
    margin-right: 10px;
    font-size: 1rem;
    font-family: Comfortaa, sans-serif;
  }

.theme-switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 27px;
  }
  
.theme-switch input { 
    display: none;
  }
  
 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--onbackground-secondary);
    -webkit-transition: .4s;
    transition: .4s;
  }

.slider::before {
    background: #fff;
    bottom: 4px;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    
  }
  
input:checked + .slider {
    background: var(--onbackground-secondary);
  }
  
input:checked + .slider::before {
    transform: translateX(16px);
  }
 
.slider.round {
    border-radius: 34px;
  }

.slider.round::before {
    border-radius: 50%;
}

.fas {
  font-size: 27px;
  color: var(--text-primary);
}

.fa-sun {
    font-size: 30px;
    margin-right: 5px;
}

.hide {
  display: none;
}

/* Hamburger Icon */
.hamburger-menu {
  height: 24px;
  
}

.menu-bars {
  position: fixed;  
  cursor: pointer;
  width: 40px;
  padding-left: 25px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--text-secondary);
    margin: 6px 0;
    transition: 0.4s;
  }
  
 .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
 .change .bar2 {
   opacity: 0;
  }
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

/* Footer */
footer {
  width: 100vw;
  position: fixed;
  display: flex;
  bottom: 5%;
  justify-content: flex-end;
  z-index: 888;
  font-size: 2em;
  text-decoration: none;
}
.icon-container {
  padding-right: 15px;
}

.icon-container > a {
  color: var(--text-primary);
  padding: 0 5px;
}

/* Sections / Pages */
section {
  position: absolute;
  z-index: -1;
}

canvas, section { 
  padding: 0;
  margin: 0;
  height: 100%; 
  width: 100%; 
  position: fixed;
}

.overlay {
  z-index: 3;
  display: flex;
  align-items: center;
}

.intro {
  display: inherit;
  align-items: center;
  padding-left: 20vw;
}

#idPhoto {
  width: 140px;
  border-radius: 100px;
  box-shadow: 150px 0.5px 345px #fff;
}

.hero-text {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--text-primary);
  padding-left: 2vw;
}

.text-secondary {
  color: var(--text-secondary);
  font-family: 'Roboto', sans-serif;
}

#and {
  color: rgb(155, 11, 11);
}

/* About */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: var(--text-primary);
  font-size: 1.5rem;
  text-align: justify;
}

.about-content {
  width: 30vw;
  padding-left: 20vw;
  bottom: 5vh;
}

.button {
  display: inline-block;
  width: 45%;
  text-align: center;
  border: 1px solid var(--text-primary);
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Metrophobic', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

/* SKILLS */
.skills {
}

.skills-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20vw;
}

.skills-title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.skills-icons-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 1fr;
  transform: translateX(-25px);
}

.skills-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 55px;
}

.skills-icon p {
  font-size: 10px;
  font-weight: bold;
  margin: 25px 0;
}

.skills-icon svg {
  width: 100px;
}

#p5 {
  font-size: 55px;
  margin: 0;
}

.projects {
  background-color: darkblue;
}

.contact {
  background-color: cyan;
}

.hide-page {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

@media only screen and (max-width:501px) {
  .intro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }
  #idPhoto {
    width: 30%;
    box-shadow: 1px 1px 2px var(--onbackground-secondary);
  }
  .main-text {
    width: 50%;
    font-size: 1rem;
    text-shadow: 1px 1px 10px var(--onbackground-secondary);
  }
  .hero-text {
    padding: 0;
    text-align: center;
  }

  .menu-on {
    opacity: 0;
  }
  .about {    
    align-items: center;
    //height: 170vh;
    font-size: 1em;
    overflow-y: visible;
  }
  .about-content {
    //height: 70vh;
    top: 0;
    padding-left: 0;
    width: 90vw;
    overflow-y: visible;
  }

  .button {
    margin-top: 10px;
  }
  .blur {
    filter: blur(10px);
  }
  footer {
    bottom: 2%;
    justify-content: center;
  }
  .icon-container {
    padding: 0;
  }
  .skills-container {
    margin: 0;
    align-items: center;
    color: var(--text-primary);
  }
  .skills-icons-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    transform: translateX(0px);
    height: 50vh;
  }
  .skills-icon,
  .skills-icon svg {
    transform: scale(0.7);
    fill: var(--text-primary);
    width: 70px;
  }

.skills-icon p {
    margin: 0 0 3px 0;
}

}